* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: rgb(25, 25, 25);
    color: beige;
    font-size: large;
    margin-bottom: 3rem;
}

.wrapper {
    max-width: 85%;
    margin: 0 auto; /* This centers the container horizontally */
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}

li:hover {
    cursor: pointer;
}

.main {
    max-width: 85%;
    margin: 0 auto;
}

.heading {
    margin-bottom: 1rem;
}

.p1 {
    font-weight: 400;
    font-size: large;
}